// typography.scss

// Headings
$h1-font-family: 'Helvetica', sans-serif;
$h1-font-weight: 500; // Medium
$h1-font-size: 20px;

$h2-font-family: 'Helvetica', sans-serif;
$h2-font-weight: 500; // Medium
$h2-font-size: 16px;

$h3-font-family: 'Helvetica', sans-serif;
$h3-font-weight: 400; // Regular
$h3-font-size: 16px;

// Fontes
$font-family-base: 'Roboto', sans-serif;
$font-family: 'Helvetica',
  Arial,
  sans-serif;