// variables.scss

$blue-primary: #0500FF;
$blue-10: #EDEFFB;
$white-neutral: #FFFFFF;
$black: #1C1C1C;

$gray-20: #9E9E9E;
$gray-10: #DFDFDF;
$gray-05: #F5F5F5;
$gray-00: #F0F0F0;

// Espaçamentos
:root {
  --spacing-medium-8: 8px;
  --spacing-medium-16: 16px;
  --spacing-medium-24: 24px;
  --spacing-medium-32: 32px;
  --spacing-regular-8: 8px;
  --spacing-regular-12: 12px;
  --spacing-regular-16: 16px;
  --spacing-little-4: 4px;
  --spacing-extra-48: 48px;
}